<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ACME RFID</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <header></header>
  <body>
	<img class="title" src="http://spokane.access2experience.com/img/profile/7d45ef8c-d70f-42b0-afb1-963ec1100489.jpg" height="200" width="500"/>
    <div id="root" class="root"></div>
  </body>
</html>

<script type="text/babel">

class NameForm extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
		username: '',
		password: ''
	};

    this.handleChange = this.handleChange.bind(this);
    this.handleSubmit = this.handleSubmit.bind(this);
	this.checkPassword = this.checkPassword.bind(this);
  }

  handleChange(event) {
    this.setState({username: event.target.value});
  }

  checkPassword(event) {
    this.setState({password: event.target.value});
  }

  handleSubmit(event) {
	if (this.state.username === "Taylor" && this.state.password === "password")
	{
		location.replace("page_2_senior_design.html");
		//alert('A name was submitted: ' + this.state.username + '\n with password: ' + this.state.password);
	}
	else
	{
		alert('Incorrect username and/or password');
	}
    event.preventDefault();
  }



  render() {
    return (
      <div className="login_div">
      <div className="sub_div">
        <form action='/login' method='post'>
          <label>
            Name:
            <input className="name_input" name='username' type="text" value={this.state.username} onChange={this.handleChange} />
          </label>
          <br/>
          <label>
            Password:
            <input className="password_input" name='password' type="password" value={this.state.password} onChange={this.checkPassword} />
          </label>
          <br/>
            <div className="button_box">
              <input type="submit" value="Login" />
              <input type="submit" value="Sign Up" />
            </div>
        </form>
      </div>
      </div>
    );
  }
}

ReactDOM.render(
  <NameForm />,
  document.getElementById('root')
);

ReactDOM.render(
  <NameForm />,
  document.getElementById('root')
);

</script>
