<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page 2</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  </head>
  <body>
	<img src="http://spokane.access2experience.com/img/profile/7d45ef8c-d70f-42b0-afb1-963ec1100489.jpg" height="200" width="500"/>
    <h1>Project Name</h1>
    <h1 font-size: 12px>Click on a project name to see the associated batches</h1>
    <div id="root"></div>
  </body>
</html>

<script type="text/babel">

const project = ['Project_01', 'Project_02', 'Project_03', 'RFID_1', 'RFID_2', 'RFID_3'];

const originalList = project.map(person =>{
  return <li><a className='button' href={person + '.html'}>{person}</a></li>
});

class ListTest extends React.Component {
  constructor(props){
    super(props);
    this.state = {
      projectList: originalList,
      searchKey: ''
    };
    this.changeList = this.changeList.bind(this);
    this.searchKeyChange = this.searchKeyChange.bind(this);
    this.setOriginal = this.setOriginal.bind(this);
  }

  changeList(){
    const peopleLis = project.map(person =>{
      if(person.toLowerCase().includes(this.state.searchKey.toLowerCase()))
        return <li><a className='button' href={person + '.html'}>{person}</a></li>
    });
    this.setState({projectList: peopleLis});
  }

  searchKeyChange(event){
    this.setState({searchKey: event.target.value});
  }

  setOriginal(){
    this.setState({projectList: originalList});
  }

  render() {
    return(
      <div>
          <label>
            Search:
            <input type="text" value={this.state.searchKey} onChange={this.searchKeyChange} />
          </label>
          <button onClick={this.changeList}>Search</button>
        <ul>{this.state.projectList}</ul>
        <button onClick={this.setOriginal}>Reset</button>
      </div>
    );
  }
}

// ReactDOM.render goes here:
ReactDOM.render(
  <ListTest />,
  document.getElementById('root')
);

</script>

<style>
  .button{
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: solid;
    border-color: white;
}
</style>