<!--
TODO: Triple buttons working as intended
      Figure out a way to have a complex data type: just name isnt going to cut it.
      Configure CSS, but I think this may best be saved for the switch over to conventional JS files.

-->



<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page 2</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/projects.css">
  </head>
  <body>

  <img class="acme_image" src="http://spokane.access2experience.com/img/profile/7d45ef8c-d70f-42b0-afb1-963ec1100489.jpg" height="110" width="275" align:"middle"/>
    <div id="root"></div>
  </body>
</html>

<script type="text/babel">

class MainComponent extends React.Component{
  constructor(props){
	super(props);
	this.state = {
	  current_project: {},
    current_rfid: '',
    showHome: true,
	  showProjectList: false,
	  showRfidList: false,
	  showTicketList:false,
    allProjects: []
	};
  	this.handleInputProject = this.handleInputProject.bind(this);
  	this.handleInputRfid = this.handleInputRfid.bind(this);
  	this.handleInputDisplay = this.handleInputDisplay.bind(this);
  }

  componentDidMount() {
    axios.get(`/api/projects`)
      .then(res => {
        const allProjects = res.data.map(obj => { return { name: obj.name, id: obj.id }; });
        this.setState({ allProjects });
      });
  }

  handleInputProject(newInput){
		console.log(newInput);
	this.setState({current_project: newInput});
  }

  handleInputRfid(newRfid){
	this.setState({current_rfid: newRfid});
  }

  handleInputDisplay(home_bool,project_bool,rfid_bool,ticket_bool){
    this.setState({showHome: home_bool})
  	this.setState({showProjectList: project_bool});
  	this.setState({showRfidList: rfid_bool});
  	this.setState({showTicketList: ticket_bool});
  }

  render(){
    return(
      <div>
        {this.state.showHome ?
          <SearchChoice callback_display={this.handleInputDisplay}/> : 
          null
        }
        {this.state.showProjectList ?
          <ListPage list={this.state.allProjects} callback_project={this.handleInputProject} callback_display={this.handleInputDisplay}/>:
          null
        }
        {this.state.showRfidList ?
          <RfidPage project={this.state.current_project} callback_rfid={this.handleInputRfid} callback_display={this.handleInputDisplay}/> :
          null
        }
        {this.state.showTicketList ?
          <TicketPage rfid_value={this.state.current_rfid}/> :
          null
        }
      </div>
    );
  }
}

class SearchChoice extends React.Component {
  constructor(props){
    super(props);
    this.state = {
      choice: 0
    };
    this.projectButton = this.projectButton.bind(this);
    this.rfidButton = this.rfidButton.bind(this);
  }

  projectButton(){
    this.props.callback_display(false,true,false,false);
  }

  rfidButton(){
    this.props.callback_display(false,false,true,false);
  }

  render(){
    return(
      <div className="homeDiv">
        <p>Search by Project or RFID</p>
        <button onClick={this.projectButton}>Projects</button>
        <button onClick={this.rfidButton}>RFIDs</button>
      </div>
    );
  }

}

class ListPage extends React.Component {
  constructor(props){
    super(props);
    this.state = {
      searchKey: ''
    };

    this.searchKeyChange = this.searchKeyChange.bind(this);
    this.setOriginal = this.setOriginal.bind(this);
    this.showRFID = this.showRFID.bind(this);
  }

  searchKeyChange(event){
		var searchKey = event.target.value;
		this.setState({ searchKey });
  }

  setOriginal(){
    this.setState({projectList: this.props.list.map(person =>{
      return <li><button className='button' onClick={this.showRFID.bind(this,person)}>{person.name}</button></li>
    })});
  }

  showRFID(project){
		this.props.callback_project(project);
		this.props.callback_display(false,false,true,false);
  }

  render() {
    return(
      <div className="projectDiv">
            <label>
              <h4>Search Projects:</h4>
              <input type="text" onChange={this.searchKeyChange} />
            </label>
            <ul>{
              this.props.list.map(person => {
                if(person.name.toLowerCase().includes(this.state.searchKey.toLowerCase())) {
                  return <li><button className='button' onClick={this.showRFID.bind(this,person)}>{person.name}</button></li>
                } else {
                  return;
                }
              })
            }</ul>
          <button onClick={this.setOriginal}>Reset</button>
      </div>
    );
  }
}

class RfidPage extends React.Component {
  constructor(props){
		super(props);
		this.state = {
			allBatches: []
		};
    this.showTicket = this.showTicket.bind(this);
  }

  showTicket(item){
	this.props.callback_rfid(item);
	this.props.callback_display(false,false,false,true);
	}

  componentDidMount() {
    if (this.props.project.id === undefined) {
      axios.get(`/api/projects`)
      .then(res => {
        const allProjects = res.data.map(obj => { return { name: obj.name, id: obj.id }; });
        return allProjects;
      }).then(projects =>{
        return Promise.all(projects.map(project => {
          return axios.get(`/api/projects/${project.id}`)
            .then(res => {
              const allBatches = res.data.batches.map(obj => obj.rfidTag);
              return allBatches;
            });
        }));
      }).then(batches => {
        const allBatches = batches.reduce((acc, val) => acc.concat(val), []);
        this.setState({ allBatches });
      });
    } else {
      axios.get(`/api/projects/${this.props.project.id}`)
        .then(res => {
          const allBatches = res.data.batches.map(obj => obj.rfidTag);
          console.log(allBatches);
          this.setState({ allBatches });
        });
    }
  }

  render() {
    return(
      <div className="rfidDiv">
        <h1>Select RFID Tag</h1>
        {this.state.allBatches.map(item => (
            <li><button className='button' onClick={this.showTicket.bind(this,item)}>{item}</button></li>
          ))}
      </div>
    );
  }
}

class TicketPage extends React.Component {
constructor(props){
    super(props);
    this.state = {
      showURL: false,
      currentURL: ''
    };
    this.printPage = this.printPage.bind(this);
    this.getURL = this.getURL.bind(this);
  }

  printPage(){
    window.print();
  }

  getURL(){
    if(this.state.showURL == false){
      this.setState({showURL: true});
    }
    else{
      this.setState({showURL: false})
    }
  }

  render() {
    return(
      <div className="ticketDiv">
        <h1>Ticket Information</h1>
        <div className="ticketDiv2">
          {this.props.rfid_value}
          <ul>
          <li> Date: 03/03/03</li>
          <li> Slump Percentage: 03% </li>
          <li> Sand Percent: 30% </li>
          <li> Mud Percent: 42% </li>
          <li> Portland Rating: 69 / 133</li>
          <li> Mix Temp: 95 C</li>
          <li> Mix Ratio: 33/2</li>
          </ul>
        </div>
        <button onClick={this.printPage}> Print </button>
        <button onClick={this.getURL}> Share </button>
        <button> Reset </button>
        {this.state.showURL ?
          <UrlSection/> :
          null
        }
      </div>
    );
  }
}

class UrlSection extends React.Component {
  render() {
    return(
      <div>
        {window.location.href}
      </div>
    );
  }
}

// ReactDOM.render goes here:
ReactDOM.render(
  //<ListPage list={project}/>,
  <MainComponent/>,
  document.getElementById('root')
);

</script>
