header{
    background: red;
}

label{
    font-size: 30px;
}

.title{
    position: relative;
    top: 50%;
    left: calc(50% - 250px);
}

.root{
    position: relative;
    top: 50%;
    left: calc(50% - 250px);
    width: 500px;
}

.login_div{
    border: solid;
    border-color:grey;
    width: 250px;
    background-color: white;
    padding: 125px;
    border-radius: 30px;
}

.sub_div{
    position: relative;
    left:-10%;
    width:500px;
}

.name_input{
    margin-left: 52px;
    margin-bottom: 10px;
    color:#fafafa;
}

.password_input{
    margin-left: 10px;
    margin-bottom: 10px;
    color:#fafafa;
}

.button_box{
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.button_box > input{
    margin-left:40px;
}

